body {
    background-color: #ffffff;
	margin: 0 auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666;
}

#contenedor_idiomas {
    height : 50px;
    position: relative;
}

#idiomas {
    position: absolute;
    bottom: 5px;
    text-align : right;
}

#idiomas a {
    text-decoration : underline;
    color : #4e4e4e;
    font-size : 10px;
    padding-left : 15px;
    background : url("../images/separador2.gif") no-repeat 5px 5px;
}

#idiomas a:hover {
    text-decoration : underline;
    color : #4e4e4e;
}

#idiomas ul {
    list-style-type : none;
    margin: 0;
}

#idiomas ul li {
    display : inline;
    padding-left : 5px;
    margin: 0;
}

#idiomas ul li.primerElemento a {
    background-image : none;
}

#idiomas ul li a.idiomaOn {
    font-weight : bold;
}

#contenedor_cabecera {
    background: url("../images/fondoCabecera.gif") no-repeat center 0;
    height : 125px;
}

#contenedor_cabecera a.logoFomento {
    text-decoration : none;
    display: block; 
    background : url("../images/logoFomento.gif") no-repeat 10px center; 
	width: 270px;
	height: 63px;
	float: left;   
	margin-top:8px;
	margin-left:-10px;
}

#contenedor_cabecera a.logoAesa {
    text-decoration : none;
    display: block; 
	width: 181px;
	height: 63px;
    background : url("../images/logoAesa.gif") no-repeat center center;
	float: left;
	margin-top:8px;
	margin-left:-10px;
}

#pestanyas_contenedor {
    height : 125px;
    position: relative;
}

#pestanyas {
    position : absolute;
    top : 28px;
    left : 110px;
}

#pestanyas div {
    background : url("../images/fondoPest.gif") repeat-x 0 0;
    float : left;
    padding: 2px 10px;
    margin: 0 5px;
}

#pestanyas div a {
    font-weight : bold;
    font-size : 11px;
    color : #fff;
    text-decoration : none;
}

#pestanyas div.noactiva {
    background : url("../images/fondoPest_off.gif") repeat-x 0 0;
}

#contenedor_subcabecera {
  background : url("../images/fondoPagina.gif") repeat-y center 0;
	

}

#subcabecera {
    position : absolute;
    height : 35px;
    border : 1px solid ##e4e7e9;    
	padding: 0 470px;
	margin : 0 10px;
    background-color: #def2fb;
	overflow: hidden;
}

#recursivo {
    top: 5px;
    height : 35px;
}

#recursivo a {
    text-decoration : none;
    color : #4e4e4e;
    font-size : 10px;
    padding-left : 15px;
    background : url("../images/separador2.gif") no-repeat 5px 5px;
}

#recursivo a:hover {
    text-decoration : none;
    color : #4e4e4e;
}

#recursivo ul {
    list-style-type : none;
    margin: 0;
}

#recursivo ul li {
    display : inline;
    padding-left : 5px;
    margin: 0;
}

#recursivo ul li.primerElemento a {
    background-image : none;
}

#recursivo ul li a.idiomaOn {
    font-weight : bold;
}

#buscar {
    top: 5px;
    height : 35px;
}

#buscar LEGEND, #buscar LABEL {
    display : none;
}

#buscar FIELDSET {
    border : none;
}

#buscar input.btBuscar {
    color : #fff;
    border : none;
    font-size : 10px;
    font-weight : bold;
    background-color : #408ac7;
}

#buscar input.txtBuscar {
    color : #666;
    border : 1px solid #777;
    font-size : 10px;
}

#contenedor_principal {
    background : url("../images/fondoPagina.gif") repeat-y center 0;
}

#menu_opciones {
    margin : 0;
    padding : 10px 0;  
}

#menu_opciones ul {
    list-style-type : none;
    margin : 0;
    padding : 0;  
}

#menu_opciones ul li a {
    text-decoration : none;
    color : #0075bf;
    padding : 0 15px;
    display : block;
    font-size : 11px;
}

#menu_opciones .primer_nivel {
    width : 280px;
    overflow : hidden;
	padding-left: 0;
	clear: left;
}

#menu_opciones ul.primer_nivel li a {
    background : url("../images/bullet_navPrin02_current.gif") no-repeat 0 0;
	color: #797258;
	background-color: #e9e6db;
	border:solid 0.1em #cfcfcf;

}

#menu_opciones ul.primer_nivel li a.selected {
    font-weight : bold;
    background : url("../images/bullet_navPrin02_current.gif") no-repeat 0 0;
	color: #797258;
	background-color: #e9e6db;
    border:solid 0.1em #cfcfcf;
}

#menu_opciones .segundo_nivel {
    width : 250px;
	background-color:#f2f1e9;

}

#menu_opciones ul.segundo_nivel li a {
    /*color : #000000;*/
	color:#797359;
    background : url("../images/bullet_navPrin03.gif") no-repeat 5px 5px;
    border : 1px solid #f2f1e9;

}

#menu_opciones ul.segundo_nivel li a.selection {
    background : url("../images/bullet_navPrin03.gif") no-repeat 5px 5px;
    font-weight : bold;
	
}

#menu_opciones ul.tercer_nivel li a {
    color : #666;
    background : url("../images/bullet_navPrin04.gif") no-repeat 5px 8px;
}

#menu_opciones ul.tercer_nivel li a.select {
    background : url("../images/bullet_navPrin04.gif") no-repeat 5px 8px;
    font-weight : bold;
}

#caminoMigas {
    height : 35px;
    margin-top: 15px; 
}

#caminoMigas span {
    float : left;
    font-size : 10px;
}

#caminoMigas ul li {
    text-decoration : none;
    color : #c35b17;
    display : inline;
    padding-left : 10px;
    background : url("../images/bullet_camino_migas.gif") no-repeat 0 5px;
    font-size : 10px;
    margin : 0;
}

#caminoMigas ul li.primerElemento {
    background : none;   
}

#caminoMigas ul li a {
    color : #1f1e21;
    text-decoration : none;
}

#contenedor_pie {
    background : url("../images/fondoPie.gif") no-repeat center 0;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#opciones_pie {
    margin-top: 20px;
}  
#opciones_pie p {
    margin: 0;
} 

#opciones_pie ul {
    margin: 0;
} 

#opciones_pie ul li {
    display: inline;
    margin: 0;
}
#opciones_pie ul li.paginaInicio a {
    background : url("../images/pagInicio.gif") no-repeat 0 0;
    padding-left: 15px;
}
#opciones_pie ul li.correo a {
    background : url("../images/iconoRaton.gif") no-repeat 0 0;
    padding-left: 15px;
    margin-left: 15px;
}
#opciones_pie ul li.primerElemento a {
    background-image : none;
}

#opciones_pie ul.letraMini li a {
    font-size : 9px;
}

#opciones_pie ul li a {
    background : url("../images/separador2.gif") no-repeat 5px 5px;
    padding-left: 15px;
}
#opciones_pie a {
    color : #666;
    text-decoration : none;
}

#certificaciones {
    margin-top: 20px;
    text-align: right;
}
#certificaciones a {
    text-decoration : none;
}
#certificaciones p {
    color : #666;
    text-align: right;
    margin: 0;
}
#certificaciones p.letraMini {
    font-size : 9px;
}

#certificaciones ul li {
    display : inline;
}

#contenedorPrincipalCabeceras h1 {
    color : #000;
    font-weight : bold;
    font-size : 12px;
}

#contenedorPrincipalCabeceras .cabeceraCanal a {
  color : #0075bf;
  font-size : 12px;
  background : url("../images/bullet_titulo.gif") no-repeat 0 0;
  font-weight : bold;
  text-decoration : none;
  padding-left: 15px;
  text-align:left;

}
#contenido {		
  font-size: 14px;
}

